<!-- TOURS ADMIN VIEW -->

<!-- Box Icons -->

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

</head>


<div class="admin-tours-view" id="app-tours-admin">
    <div class="atv-left">

        <form (ngSubmit)="onSubmit()" [formGroup]="addTourForm">

            <h2 id="toursFormTitle">Add Tour</h2>
            <span id="tourID">1</span>
            <input id="edtTourName" type="text" name="tourName" placeholder="Name" formControlName="tourname">
            <div *ngIf="addTourForm.get('tourname')?.touched && !addTourForm.get('tourname')?.valid">
                <p class="error-message" *ngIf="addTourForm.get('tourname')?.hasError('required')"><i>Tour name is
                        required</i></p>
            </div>
            <input id="edtTourDest" type="text" name="tourDestination" placeholder="Destination"
                formControlName="tdestination">
            <div *ngIf="addTourForm.get('tdestination')?.touched && !addTourForm.get('tdestination')?.valid">
                <p class="error-message" *ngIf="addTourForm.get('tdestination')?.hasError('required')"><i>Tour
                        destination is required</i></p>
            </div>
            <input id="edtTourDesc" type="text" name="tourDesc" placeholder="Description"
                formControlName="tdescription">
            <div *ngIf="addTourForm.get('tdescription')?.touched && !addTourForm.get('tdescription')?.valid">
                <p class="error-message" *ngIf="addTourForm.get('tdescription')?.hasError('required')"><i>Tour
                        description is required</i></p>
            </div>
            <input id="edtTourPrice" type="text" name="tourPrice" placeholder="Price" formControlName="tprice">
            <div *ngIf="addTourForm.get('tprice')?.touched && !addTourForm.get('tprice')?.valid">
                <p class="error-message" *ngIf="addTourForm.get('tourPrice')?.hasError('required')"><i>Tour price is
                        required</i></p>
                <p class="error-message" *ngIf="addTourForm.get('tourPrice')?.hasError('invalidNumber')"><i>Tour price
                        should be a number (1000-500000)</i></p>
            </div>

            <input id="btnAddTour" type="submit" value="{{btnText}}" onclick="">

        </form>

    </div>

    <div class="atv-right" id="displayTours" *ngIf="allTours">

        <div class="tour-card" *ngFor="let tour of allTours; let i= index">
            <div class="tcard-head">
                <h1>{{tour.tourname|shortenDescription:20}}</h1>
            </div>
            <div class="tcard-body">
                <h2>Destination: {{tour.tdestination}}</h2>
                <p>{{tour.tdescription |shortenDescription:170}}</p>
                <h3>Price: {{tour.tprice| currency:"Ksh"}}</h3>
            </div>
         
            <div class="edit-del">
                <input id="btnEditTour" type="button" value="Edit Tour" (click)="editTour(i)">
                <i class='bx bxs-trash-alt' (click)="deleteTour(i)"></i>
            </div>
            

        </div>


    </div>

</div>