  <!-- HOME VIEW USER -->
  <div class="home-view" id="app-home">

    <h1>Welcome to TripTide</h1>
    <p>
        Whether you're planning your next adventure or just dreaming about far-off places,
        TripTide is here to make your travel dreams come true. <br>
        Discover hidden gems, plan perfect itineraries, and embark on the journey of
        a lifetime with us. <br>
        Start exploring today and let the adventure begin!
    </p>

  
    <a href="" id="btnSeeTours" [routerLink]="['tours']">See Tours</a>

</div>