  <!-- BOOKINGS VIEW USER -->
  <div class="bookings-view" id="app-bookings">
    <div class="abv-left" id="displayUserBookings" *ngIf="usersBookings">

        <div class="booking-card" *ngFor="let booking of usersBookings; let i = index">
            <div class="booking-header" id="">
                <h2>{{booking.id|shortenDescription:10}}</h2>
                <!-- <ion-icon name="trash-outline"></ion-icon> -->
            </div>
            <p>User: {{userName}}</p>
            <h3 id="TourName" ></h3>
            <!-- <p>Price: {{getTour(booking.hotelid)}}</p>
            <p>Hotel Name: Serena Hotel</p> -->
            <p>Start Date: {{booking.bstartdate}} </p>
            <p>End Date: {{booking.benddate}} </p>
            <p>Guests: {{booking.bguests}}</p>
            <p>Status: {{booking.bstatus}}</p>

            <div class="booking-action">
                <input id="btnEditBooking" type="button" value="Edit">
                <input id="btnCancelBooking" type="button" value="Cancel">
            </div>
        </div>
        

    </div>

    <div class="abv-right" id="displayUserBookings">
        <h2>Update Booking</h2>
        <form action="#">
            <span id="bookingID">1</span>
            <label for="tourName">Tour Name</label>
            <span id="tourIdBookingUpdate">1</span>
            <label for="tourNametTV" id="lblTourNameBooking"> </label>
            <!-- <input type="text" id="tourName" name="tourName" required> -->

            <label for="tourDate">Tour Start Date:</label>
            <input type="date" id="tourSDateBooking" name="tourDate" required>

            <label for="tourDate">Tour End Date:</label>
            <input type="date" id="tourEDateBooking" name="tourDate" required>


            <label for="hotelSelection">Select Hotel:</label>
            <select id="hotelSelectionBooking" name="hotelSelection" required>
                <option value="">Select Hotel</option>
                <!-- <option value="hotel1">Hotel 1</option>
                <option value="hotel2">Hotel 2</option> -->

            </select>

            <label for="tourGuests">Number of Guests:</label>
            <input type="number" id="tourGuestsBooking" name="tourGuests" value="1" required>

            <input type="button" value="Update Booking" id="app-userupdate-booking">
        </form>




    </div>

</div>
