    <!-- BOOKINGS ADMIN VIEW -->
    <div class="admin-bookings-view" id="app-bookings-admin">
                        
        <div class="adminb-left" id="update-form">

            <h2>Update Booking</h2>
            <form action="#">
                <span id="bookingIDAdmin">1</span>
                <label for="tourName">Tour Name</label>
                <span id="tourIdBookingAdmin">1</span>
                <label for="tourNametTV" id="lblTourNameBookingAdmin"> </label>
                <!-- <input type="text" id="tourName" name="tourName" required> -->
               
                <p id="userIDAdmin"></p>

                <label for="tourDate">Tour Start Date:</label>
                <input type="date" id="tourSDateBookingAdmin" name="tourDate" required>

                <label for="tourDate">Tour End Date:</label>
                <input type="date" id="tourEDateBookingAdmin" name="tourDate" required>


                <label for="hotelSelection">Select Hotel:</label>
                <select id="hotelSelectionBookingAdmin" name="hotelSelection" required>
                    <option value="">Select Hotel</option>
                    <!-- <option value="hotel1">Hotel 1</option>
                    <option value="hotel2">Hotel 2</option> -->

                </select>

                <label for="tourGuests">Number of Guests:</label>
                <input type="number" id="tourGuestsBookingAdmin" name="tourGuests" value="1" required>

                <input type="button" value="Update Booking" id="app-adminupdate-booking">
            </form>


        </div>

        <div class="adminb-right" id="displayAllBookingsAdmin">

            <!-- <div class="booking-card-admin">

                <div class="booking-header" id="">
                    <h2>410103</h2>
   
                </div>
                <div class="booking-action-admin">
                    <input id="btnApproveBooking" type="button" value="Approve Booking">
                    <ion-icon name="trash-outline"></ion-icon>
                </div>

                <p>User: James</p>
                <h3 id="TourName">Maasai Mara</h3>
                <p>Price: Ksh 10000.00</p>
                <p>Hotel Name: Serena Hotel</p>
                <p>Start Date: 2024-05-04 </p>
                <p>End Date: 2024-05-04 </p>
                <p>Guests: 1</p>
                <p>Status: Pending</p>
               
                <div class="booking-action-admin">
                    <input id="btnEditBooking" type="button" value="Edit">
                    <input id="btnCancelBooking" type="button" value="Cancel">
                </div>

            </div>  -->

        </div>

    </div>