<div class="header">
    <div class="app-head">
        <div class="app-name">
            <a href="#" class="logo">TripTide</a>

            <p>
                Ride the Waves of Adventure!
            </p>
        </div>

        <nav class="navbar">
            <ul class="nav-links">
                <li><a id="homeLink" [routerLink]="['']" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">Home</a></li>
                <li><a id="toursLink" [routerLink]="['/tours']" routerLinkActive="active">Tours</a></li>
                <!-- <li> <ion-icon name="bed"></ion-icon> <a id="hotelsLink" href="#" [routerLink]="['hotels']">Hotels</a></li> -->
                <li><a id="bookingsLink" [routerLink]="['/bookings']" routerLinkActive="active">Bookings</a></li>
            </ul>

        </nav>

        <div class="app-login">
            <div class="menu-dropdown">
                <p id="app-username" *ngIf="user">{{user.username}}</p>

                <div class="menu-dropdown-content" id="" *ngIf="user">
                    <!-- <a id="user-logout" [routerLink]="['']">Logout</a> -->
                    <a id="adm-tours" [routerLink]="['/tours/admin']" *ngIf="user.isAdmin===1">Tours</a>
                    <a id="adm-hotels" [routerLink]="['/hotels']" *ngIf="user.isAdmin===1">Hotels</a>
                    <a id="adm-bookings" [routerLink]="['/bookings/admin']" *ngIf="user.isAdmin===1">Bookings</a>
                </div>
            </div>

            <a id="signInBtn" [routerLink]="['/auth']"  *ngIf="!authService.showStatus()" >Sign In</a>   
            <a id="signOutBtn" *ngIf="authService.showStatus(); " (click)="signOutUser()"  >Sign Out</a>  
              <!--  *ngIf="authS.showStatus()" [routerLink]="['']"  -->

        </div>
    </div>
</div>