<div class="body">
    <div class="app-display-port">
        <div class="dynamic-view-manager">

            <router-outlet>
                
            </router-outlet>

            <!-- USERS VIEWS -->
            <!-- <app-auth-view>
            </app-auth-view> -->

            <!-- <app-home-view>
            </app-home-view>
             -->

            <!-- <app-tours-view>
            </app-tours-view> -->

            <!--
            <app-bookings-view>
            </app-bookings-view>  -->


            <!-- ADMIN VIEWS -->
            <!-- <app-hotels-view-admin>
            </app-hotels-view-admin> -->

<!-- 
            <app-tours-view-admin>
            </app-tours-view-admin>
             -->
            <!--
            <app-bookings-view-admin>
            </app-bookings-view-admin> -->

        </div>
    </div>
</div>